header {
    height: 100px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    width: 160px;
}

.gnb {
    width: 750px;
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

.menu {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.menu>a {
    width: 30px;
    height: 30px;
}

.menu>a:nth-child(4) {
    display: none;
}
/* header end */

.section_1 {
    height: 100vh;
    overflow: hidden;
}

.sec_1_con_1 {
    height: 100%;
}

.swiper-horizontal {
    height: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 30px);
    left: 0;
    width: 100%;
}

.swiper-pagination {
    position: relative;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-button-next, .swiper-button-prev {
    color: #ffffff;
}

.swiper-pagination-bullet-active {
    background: #ffffff;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.sec_1_title {
    position: absolute;
    top: 30%;
    left: 200px;
    transform: translateY(-30%);
    color: #ffffff;
}

.sec_1_title>h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sec_1_title>h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

.sec_1_title>h2:nth-child(3) {
    display: none;
}

/* section_1 end */

.sec_2_title:nth-child(2) {
    display: none;
}

.section_2 {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sec_2_title {
    margin-top: 100px;
    margin-left: 200px;
    padding-top: 60px;
}

.sec_2_title>h5 {
    font-size: 20px;
    font-weight: 700;
    color: #0078C3;
    padding-bottom: 30px;
}

.sec_2_title>h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    padding-bottom: 100px;
}

.sec_2_con_1 {
    width: 80%;
    height: 700px;
    margin-left: 200px;
}

.sec_2_conbox {
    height: 100%;
}

.section_2_swiper>.swiper-wrapper>.swiper-slide {
    margin-right: 30px;
}

.sec_2_text {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #ffffff;
}

.sec_2_text>h2 {
    font-size: 30px;
    font-weight: 700;
}

.sec_2_text>h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.sec_2_text>p {
    font-size: 16px;
    font-weight: 500;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 70%;
    left: var(--swiper-scrollbar-sides-offset, 200px);
}

.swiper-scrollbar-drag {
    background: var(--swiper-scrollbar-drag-bg-color, #ffffff);
}
/* section_2 end */

.sec_3_con_1 {
    margin-left: 200px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.sec_3_conbox {
    width: 32%;
    height: 360px;
}

.sec_3_imgbox {
    height: 100%;
}

.sec_3_imgbox>img {
    height: 100%;
}

.box_1 {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.sec_3_text {
    width: 80%;
    position: relative;
    left: 30px;
    bottom: 60px;
}

.sec_3_text>h2 {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
/* section_3 end */

.section_4 {
    margin-bottom: 90px;
    overflow: hidden;
}

.sec_4_con_1 {
    width: 25%;
    margin-left: 200px;
}

.sec_4_conbox>img {
    height: 320px;
}

.section_4_swiper>.swiper-wrapper>.swiper-slide {
    margin-right: 30px;
}

.section_4_swiper>.swiper-wrapper>.swiper-scrollbar-drag {
    background: var(--swiper-scrollbar-drag-bg-color, #0078C3);
}

.sec_4_text {
    margin-top: 15px;
}

.sec_4_text>p {
    font-size: 18px;
    font-weight: 400;
}

.sec_4_text>h4 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 28px;
}

.sec_4_btu {
    width: 120px;
    height: 40px;
    margin: 60px auto;
    background-color: rgba(0, 0, 0, 0);
    color: #0078C3;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
/* section_4 end */

.section_5 {
    margin-bottom: 100px;
}

.sec_5_con_1 {
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0 200px;
}

.sec_5_box_1 {
    width: 49%;
    padding-left: 60px;
    background-color: #F8F8F8;
}

.sec_5_box_1>h4 {
    font-size: 20px;
    font-weight: 700;
    color: #0078C3;
    margin-top: 50px;
    padding-bottom: 25px;
}

.sec_5_box_1>h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}

.sec_5_box_1>h5 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 40px;
}

.sec_5_box_1>p {
    font-size: 16px;
    font-weight: 500;
    color: #0078C3;
    margin-bottom: 50px;
}

.sec_5_title {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}

.sec_5_text {
    display: flex;
    align-items: center;
}

.sec_5_title>h2 {
    font-size: 70px;
    font-weight: 700;
}

.sec_5_text>img {
    width: 20px;
    height: 20px;
}

.sec_5_text>p {
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
}
/* section_5 end */

footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #171717;
    display: flex;
    align-items: center;
}

.footer_logo {
    width: 120px;
    margin-right: 100px;
}

.footer_btn_1 {
    display: none;
}

.footer_box {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_con {
    color: #ffffff;
}

.footer_icon {
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.footer_icon>a:nth-child(1) {
    width: 40px;
}

.footer_icon>a {
    width: 35px;
    height: 35px;
}

.footer_title {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer_title>h4 {
    font-size: 14px;
    font-weight: 500;
}

.footer_text>p {
    font-size: 12px;
    font-weight: 400;
}

.footer_btn {
    width: 250px;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.footer_btn>h4 {
    font-size: 16px;
    font-weight: 500;
}

.footer_btn>img {
    width: 16px;
    height: 18px;
}


/* 1550px start */
@media screen and (max-width:1550px) {
    
    header {
        padding: 0 60px;
    }

    .gnb {
        margin-right: 200px;
    }
    /* header end */

    .sec_5_box_1 {
        padding-left: 50px;
    }

    .sec_5_box_1>h4 {
        margin-top: 40px;
        padding-bottom: 20px;
    }

    .sec_5_box_1>h5 {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .sec_5_box_1>p {
        margin-bottom: 40px;
    }

    .sec_5_box_1>h2 {
        font-size: 32px;
        line-height: 45px;
    }

    .sec_5_title {
        padding-right: 60px;
    }

    .sec_5_title>h2 {
        font-size: 60px;
    }

    .sec_5_text>img {
        width: 18px;
        height: 18px;
    }    

    .sec_5_text>p {
        font-size: 22px;
    }
    /* section_5 end */

}


/* 1400px start */
@media screen and (max-width:1400px) {

    .gnb {
        display: none;
    }

    .menu>a:nth-child(3), .menu>a:nth-child(1) {
        display: none;
    }

    .menu>a:nth-child(4) {
        display: block;
    }

    .menu {
        width: 90px;
    }
    /* header end */

    .sec_1_title {
        left: 100px;
    }
    /* section_1 end */

    .sec_5_box_1 {
        padding-left: 40px;
    }

    .sec_5_box_1>h4 {
        font-size: 18px;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .sec_5_box_1>h5 {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .sec_5_box_1>p {
        margin-bottom: 30px;
    }

    .sec_5_box_1>h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .sec_5_title {
        padding-right: 40px;
    }

    .sec_5_title>h2 {
        font-size: 55px;
    }

    .sec_5_text>img {
        width: 15px;
        height: 15px;
    }    

    .sec_5_text>p {
        font-size: 20px;
    }
    /* section_5 end */

}


/* 1280px start */
@media screen and (max-width:1280px) {

    header {
        height: 60px;
        padding: 0 20px;
    }

    .logo {
        width: 100px;
    }
    
    .menu {
        width: 70px;
    }

    .menu>img {
        width: 25px;
        height: 25px;
    }
    /* header end */

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    /* section_1 end */

    .sec_2_title {
        margin-left: 100px;
        padding-top: 0;
    }
    
    .sec_2_title>h5 {
        font-size: 18px;
        padding-bottom: 20px;
    }
    
    .sec_2_title>h2 {
        font-size: 30px;
        line-height: 43px;
        padding-bottom: 60px;
    }
    
    .sec_2_con_1 {
        height: 500px;
        margin-left: 100px;
    }

    .section_2_swiper>.swiper-wrapper>.swiper-slide {
        margin-right: 20px;
    }

    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 70%;
        left: var(--swiper-scrollbar-sides-offset, 100px);
    }

    .sec_2_text {
        left: 30px;
        bottom: 30px;
    }
    
    .sec_2_text>h2 {
        font-size: 25px;
        font-weight: 700;
    }
    
    .sec_2_text>h4 {
        font-size: 16px;
        line-height: 24px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .sec_2_text>p {
        font-size: 14px;
    }
    /* section_2 end */

    .sec_3_con_1 {
        margin-left: 100px;
        flex-direction: column;
    }

    .sec_3_conbox {
        width: 100%;
        height: 450px;
    }

    .sec_3_conbox:nth-child(1), .sec_3_conbox:nth-child(2) {
        margin-bottom: 30px;
    }

    .sec_3_text {
        bottom: 55px;
    }

    .sec_3_text>h2 {
        font-size: 25px;
    }
    /* section_3 end */

    .section_4 {
        margin-bottom: 40px;
    }

    .sec_4_con_1 {
        width: 40%;
        margin-left: 100px;
    }

    .section_4_swiper>.swiper-wrapper>.swiper-slide {
        margin-right: 20px;
    }

    .sec_4_text>p {
        font-size: 16px;
    }
    
    .sec_4_text>h4 {
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 26px;
    }
    /* section_4 end */

    .sec_5_con_1 {
        margin: 0 100px;
        flex-direction: column;
    }

    .sec_5_box_1 {
        width: 100%;
    }

    .sec_5_box_1:nth-child(1) {
        margin-bottom: 30px;
    }

    .sec_5_box_1 {
        padding-left: 60px;
    }

    .sec_5_box_1>h4 {
        font-size: 20px;
        margin-top: 50px;
        padding-bottom: 25px;
    }

    .sec_5_box_1>h5 {
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .sec_5_box_1>p {
        margin-bottom: 50px;
    }

    .sec_5_box_1>h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .sec_5_title {
        padding-right: 60px;
    }

    .sec_5_title>h2 {
        font-size: 80px;
    }

    .sec_5_text>img {
        width: 20px;
        height: 20px;
    }    

    .sec_5_text>p {
        font-size: 22px;
    }   
    /* section_5 end */

    .footer_logo {
        display: none;
    }

    .footer_icon>a {
        width: 30px;
        height: 30px;
    }

    .footer_icon>a:nth-child(1) {
        width: 35px;
    }

}

/* 1000px start */
@media screen and (max-width:1000px) {

    .footer_btn {
        display: none;
    }

    .footer_box {
        width: 100%;
    }

    .footer_con {
        width: 100%;
    }

    .footer_icon {
        width: 190px;
    }

    .footer_btn_1 {
        width: 100%;
        height: 50px;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #000000;
    }

    .footer_btn>h4 {
        font-size: 14px;
        font-weight: 500;
    }

    .footer_btn_1>img {
        width: 14px;
        height: 16px;
    }

    .footer_icon {
        padding-top: 25px;
    }

    .footer_title {
        width: 160px;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer_title>h4 {
        padding-bottom: 10px;
    }

}

/* 780px start */
@media screen and (max-width:780px) {

    .sec_1_title {
        left: 20px;
    }
    
    .sec_1_title>h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .sec_1_title>h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .sec_1_title>h2:nth-child(2) {
        display: none;
    }

    .sec_1_title>h2:nth-child(3) {
        display: block;
    }
    /* section_1 end */

    .sec_2_title:nth-child(1) {
        display: none;
    }

    .sec_2_title:nth-child(2) {
        display: block;
        padding-top: 40px;
    }

    .sec_2_title {
        margin-top: 60px;
        margin-left: 20px;
    }
    
    .sec_2_title>h5 {
        font-size: 16px;
        padding-bottom: 10px;
    }
    
    .sec_2_title>h2 {
        font-size: 25px;
        line-height: 33px;
        padding-bottom: 30px;
    }
    
    .sec_2_con_1 {
        height: 350px;
        margin-left: 20px;
    }
    

    .section_2_swiper>.swiper-wrapper>.swiper-slide {
        margin-right: 10px;
    }

    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 70%;
        left: var(--swiper-scrollbar-sides-offset, 20px);
    }

    .sec_2_conbox {
        height: 100%;
    }

    .sec_2_text {
        left: 20px;
        bottom: 20px;
    }
    
    .sec_2_text>h2 {
        font-size: 20px;
    }
    
    .sec_2_text>h4 {
        display: none;
    }
    
    .sec_2_text>p {
        padding-top: 10px;
    }
    /* section_2 end */

    .sec_3_con_1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sec_3_conbox {
        height: 300px;
    }

    .sec_3_text {
        left: 20px;
        bottom: 40px;
    }

    .sec_3_text>h2 {
        font-size: 20px;
    }
    /* section_3 end */

    .section_4 {
        margin-bottom: 30px;
    }

    .sec_4_con_1 {
        width: 80%;
        margin-left: 20px;
    }
    
    .sec_4_text>p {
        font-size: 14px;
    }
    
    .sec_4_text>h4 {
        font-size: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        line-height: 24px;
    }

    .sec_4_btu {
        width: 100px;
        height: 35px;
        margin: 30px auto;
        background-color: rgba(0, 0, 0, 0);
        font-size: 14px;
        line-height: 35px;
    }
    /* section_4 end */

    .sec_5_con_1 {
        margin: 0 20px;
        padding-top: 30px;
    }

    .sec_5_box_1:nth-child(1) {
         margin-bottom: 20px;
    }
    
    .sec_5_box_1 {
        padding-left: 30px;
    }

    .sec_5_box_1>h4 {
        font-size: 16px;
        font-weight: 500;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .sec_5_box_1>h5 {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .sec_5_box_1>p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .sec_5_box_1>h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .sec_5_title {
        padding-right: 30px;
    }

    .sec_5_title>h2 {
        font-size: 50px;
    }

    .sec_5_text>img {
        width: 18px;
        height: 18px;
    }    

    .sec_5_text>p {
        font-size: 20px;
    } 
    /* section_5 end */

    footer {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .footer_title>h4 {
        font-weight: 400;
    }

}

/* 450px start */
@media screen and (max-width:450px) {
    
    .sec_2_con_1 {
        height: 280px;
    }
    /* .section_2 end */

    .sec_3_conbox {
        height: 260px;
    }
    /* .section_3 end */

    .sec_4_conbox>img {
        height: 200px;
    }
    /* .section_4 end */

    .sec_5_box_1>h4 {
        padding-bottom: 10px;
    }

    .sec_5_box_1>h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .sec_5_title>h2 {
        font-size: 40px;
    }

    .sec_5_text>p {
        font-size: 18px;
        padding-left: 6px;
    }

    .sec_5_text>img {
        width: 16px;
        height: 16px;
    }
    /* .section_5 end */
}